.App {}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin-top: 1em;
}

.App-link {
  color: darkorange;
}

h2 {
  font-size: 26px;
  line-height: 34px;
  font-weight: 300;
  letter-spacing: 1px;
  display: block;
  margin: 0;
  cursor: pointer;
}

p {
  color: rgba(48, 69, 92, 0.8);
  position: relative;
  overflow: hidden;
  max-height: 300px;
  opacity: 1;
  transform: translate(0, 0);
  margin-top: 14px;
  z-index: 2;
}

a {
  color: darkred;
}

nav {
  margin: 0 auto 2em;
}
nav label,
nav ul li {
  display: block;
  width: 100%;
  padding: 0.5em;
  border-bottom: 1px solid darkorange;
  color: darkorange;
}
nav label:hover,
nav ul li:hover {
  background: orangered;
  color: black;
  cursor: pointer;
}
nav label {
  position: relative;
  z-index: 2;
  background: orangered;
}
nav input {
  display: none;
}
nav input ~ ul {
  position: relative;
  /*visibility: hidden;*/
  display: none;
  opacity: 0;
  top: -20px;
  z-index: 1;
}
nav input:checked + label {
  background: orangered;
  color: black;
}

nav input:checked ~ ul {
  display: block;
  opacity: 1;
  top: 0;
}

.animate {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;  /* CH + SF */
  -moz-backface-visibility: hidden;  /* FF */
  -ms-backface-visibility: hidden;  /* IE */
}

#main-map {
  height: 400px;
  margin: 10px auto;
}
.gm-style-iw {
  color: darkred;
}
.eqmap {
  display: none;
  background-color: white;
}

#feel {
  text-align: center;
  margin-top: 1em;
  padding: 1em;
  background-color: orangered;
  width: 100%;
}
#feel h1 {
  color: black;
  font-weight: 700;
  font-size: 3em;
  padding: 20px;
}

#overlay {
  height: 100vh;
  width: 100vw;
  display: flex;
  color: darkorange;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  opacity: 1;
  background: rgba(39, 42, 43, 0.95);
  margin: 0;
}
#overlay h1 {
  font-size: 5em;
  color: darkorange;
  font-weight: 700;
  margin: 100px auto;
}

.transition,
p,
ol li i:before,
ol li i:after {
  transition: all 0.25s ease-in-out;
}

.flipIn,
ol li {
  animation: flipdown 0.5s ease both;
}

.no-select,
h2 {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Earthquake Detail list */
ol {
  min-height: 0;
  display: inline-block;
  position: relative;
  margin: 10px 0;
  box-shadow: 0 10px 0 0 #ff6873 inset;
  max-width: 100%;
  padding: 30px;
  list-style: none;
  perspective: 900px;
}
ol.tilted-list {
  width: 435px;
  list-style-type: none;
  list-style-type: decimal !ie; /*IE 7- hack*/
  counter-reset: li-counter;
  font-weight: 400;
}
ol.tilted-list h3 {
  color: black;
  margin: 0 auto 1em;
}
ol.tilted-list > li {
  position: relative;
  margin-bottom: 20px;
  padding: 1em 1em 6px 1em;
  border-left: 2px solid yellow;
  background-color: darkgrey;
}
ol.tilted-list > li:before {
  position: absolute;
  top: 0;
  left: -0.95em;
  width: 1em;
  font-size: 4em;
  line-height: 1;
  font-weight: bold;
  text-align: right;
  color: darkorange;
  transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  z-index: -99;
  overflow: hidden;
  content: counter(li-counter);
  counter-increment: li-counter;
}
.earthquakeMaps {
  height: 400px;
  width: 200px;
}

input[type="checkbox" i] {
  background-color: initial;
  cursor: default;
  -webkit-appearance: checkbox;
  box-sizing: border-box;
  margin: 3px 0.5ex;
  padding: initial;
  border: initial;
}

ol li {
  position: relative;
  padding: 0;
  margin: 0;
  padding-bottom: 4px;
  padding-top: 18px;
}
ol li:nth-of-type(1) {
  animation-delay: 0.5s;
}
ol li:nth-of-type(2) {
  animation-delay: 0.75s;
}
ol li:nth-of-type(3) {
  animation-delay: 1s;
}
ol li:last-of-type {
  padding-bottom: 0;
}
ol li i {
  /*position: absolute;*/
  position: relative;
  transform: translate(-6px, 0);
  margin-top: 16px;
  /*right: 15px;*/
}
ol li i:before,
ol li i:after {
  content: "";
  position: absolute;
  background-color: darkred;
  width: 3px;
  height: 9px;
}
ol li i:before {
  transform: translate(-2px, 0) rotate(45deg);
}
ol li i:after {
  transform: translate(2px, 0) rotate(-45deg);
}
ol li input[type="checkbox"] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  max-height: 320px;
  z-index: 3;
  opacity: 0;
  transform: translate(-50%, -120px);
}
ol li input[type="checkbox"]:checked ~ p {
  margin-top: 20px;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
}
ol li input[type="checkbox"]:checked ~ h4 {
  margin-top: 0;
  max-height: 0;
  opacity: 1;
  transform: translate(0, 50%);
}
ol li input[type="checkbox"] ~ h4 {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
}

ol li input[type="checkbox"]:checked ~ i:before {
  transform: translate(2px, 0) rotate(45deg);
}
ol li input[type="checkbox"]:checked ~ i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}

@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
    transform: rotateX(8deg);
  }
  83% {
    transform: rotateX(6deg);
  }
  92% {
    transform: rotateX(-3deg);
  }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
  }
}

#footer-credit {
  color: darkorange;
  text-decoration: none;
  padding: 1em;
}
