body {
  margin: 0;
  font-family: 'Oswald', Helvetica, sans-serif;
  text-align: center;
  color: darkorange;
  background-color: darkred;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
